.container {
  height: 100vh;
  display: flex;
  align-items: center;
}

.button {
  width: 100%;
}

.user {
  padding: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 40vh;
  flex-grow: 1;

  &__icon {
    margin-bottom: 16px;
    font-size: 40px!important;
    color: var(--primary);
  }

  &__type {
    font-size: 24px;
    color: var(--text-color);
  }
}