.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-2);

  &__label {
    color: inherit;
    font-size: 14px;
    margin-bottom: var(--spacing-1);
  }

  &__input {
    background-color: var(--gray-200);
    padding: 14px 16px;
    border-radius: 8px;
    font-size: 16px;
    color: var(--gray-900);
    border: 1px solid transparent;
    
    &:hover {
      border-color: var(--purple-200);
    }

    &:active, &:focus {
      outline: none;
      border: 1px solid var(--purple-700);
    }
  }

  &:last-child {
    margin-bottom: initial;
  }
}