.sidebar {
  background-color: #fff;
  height: 100vh;
  width: var(--sidebar-width);
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    text-decoration: none;
    color: var(--text-color-l2);

    &:hover {
      color: var(--text-color);
      background-color: var(--page-background-color);
    }

    &--active {
      color: var(--text-color);
      background-color: var(--page-background-color);
    }
  }
}