.nav-wrapper {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
  nav {
   height: 64px;
   width: calc(var(--app-width) + var(--spacing-4) + var(--spacing-4));
   display: flex;
   align-items: center;
  }
}