.job-details {
  display: flex;

  &__left {
    margin-right: var(--spacing-4);
    width: 64px;

    .job-details__logo {
      width: 100%;
      height: auto;
      border-radius: 8px;
    }
  }

  &__middle {
    flex-grow: 1;
    margin-right: var(--spacing-4);

    .details-body {
      color: var(--gray-700);
      margin-top: var(--spacing-3);
    }

    .details-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .job-title {
        display: flex;
        flex-direction: column;

        .job-name {
          font-size: 22px;
          color: var(--gray-900);
          margin-bottom: var(--spacing-2);
        }

        .company-name {
          color: var(--purple-900);
        }
      }
    }
  }

  &__right {
    flex-grow: 1;
    min-width: 280px;

    .job-details-list {
      margin-bottom: 16px;
    }
  }
}