.nav-wrapper {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  
  nav {
   height: 64px;
   width: var(--app-width);
   display: flex;
   align-items: center;
  }
}