:root {
  // Colors
  --text-color: #3c4257;
  --text-color-l1: #5c6279;
  --text-color-l2: #888ea5;
  --primary: #2F80ED;
  --page-background-color: #e3e8ee;
  --component-background-color: #fff;

  // Font
  --font-size: 14px;
}