.topbar {
  height: 96px;
  display: flex;
  justify-content: space-between;

  &__left {
    display: flex;
    align-items: center;
  }

  &__right {
    display: flex;
    align-items: center;
  }

  .topbar-user {
    margin: 0 8px;
  }

  .topbar-user-portrait {
    width: 40px;
    height: 40px;
    border-radius: 8px;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
  }  

  .topbar-page-name {
    font-weight: bold;
    font-size: 24px;
  }
}