@import "./Style/Variables.scss";

.app-root {
  background-color: var(--page-background-color);
  color: var(--text-color);
  display: flex;
  font-family: 'Open Sans', sans-serif;
}

.content {
  flex-grow: 1;
  height: 100vh;
  overflow: auto;
}