.job-posting-user-match-page {
  .job-seeker-response {
    margin-top: var(--spacing-4);
  
    &__text {
      margin-left: 96px;
      color: var(--purple-900);
      margin-bottom: var(--spacing-3);
    }
  
    &__buttons {
      margin-left: 96px;
      display: flex;
      
      .interested-button {
        margin-right: var(--spacing-1);
        min-width: 180px;
      }
    }
  }
}